* {
    margin: 0;
    padding: 0;
}

body {
    
    color:black;
}

#header 
{
    width: 100%;
}

.container {
    border: 2px double;
    background:white;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 90px;
    height: 90px;
}

.navbar {
    display: flex;
    align-items: center; 

}

.nav {
    display: flex;
    justify-content:space-between;
    font-size: 20px;
}

.nav li {

    margin-left: 100px;
}


.btn .btn1{
    height: 40px;
    margin: 40px;
    font-size: 1.3em;
    padding: 0.5em 1.0em;
    border: none;
    box-shadow: 0 0 20px 1px;
}

.btn .btn2{
    height: 40px;
    font-size: 1.3em;
    padding: 0.5em 1.0em;
    border: none;
    box-shadow: 0 0 20px 1px ;
}


.cont1{
    height: 600px;
    width: 100%;
    background-color:burlywood;
    background-image: url("https://i.pinimg.com/1200x/d3/df/4f/d3df4fcf23bd51386229de47215c33d7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.cont1 h1{
    padding: 40px;
    font-size: 60px;
}

.cont1 p{
    font-size: 22px;
    font-family: sans-serif;
    padding-left: 45px;
    font-weight: bold;
}

.cont1 .btn3{
    border-radius: 30px;
    height: 40px;
    font-size: 20px;
    width: 150px;
    margin: 50px;
    background-color: chocolate;
}
.cont1 h2{
    color: white;
}
.cont1 h3{
    display: flex;
    flex-direction: row;
    color: white;
}

.cont0{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding: 40px 4%;
    height: 50px;
    width: 100%;
    background-color: rgb(79, 45, 22);
    
}

.cont0 .badge{

    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 250px;
}

.cont0 .badge i{
    font-size: 24px;
}

.cont0 .badge h3{
    font-family: monospace;
    margin-bottom: 2px;
    color: rgb(240, 171, 82);

}

.cont0 .badge p{
    color: beige ;
    font-size: 13px;
    
    line-height: 1.4;
}

.cont2{
    height: 500px;
    width: 100%;
    color: black;
    background-color:rgb(255, 190, 105);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
   
    
}
.cont2 .item{
    
    background-color: rgb(252, 229, 194);
    /* border: 2px black double; */
    box-shadow: 10px 10px 10px rgb(62, 40, 11);
}

.cont2 .item h1{    
    text-align: center;   
}

.cont2 h2{
    
    position: absolute;
    left: 60px;
    margin-bottom: 400px;   
    
}
.cont3{
    height: 600px;
    width: 100%;
    color: black;
    background-color:rgb(214, 172, 116);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    
    background-image: url("https://i.pinimg.com/736x/f1/59/66/f1596627fbf33a4da2c90c662ad0c5c0.jpg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.cont3 .items{
    margin-right: 30px;
    background-color: white;
    /* box-shadow: 10px 10px 10px rgb(62, 40, 11); */
    outline: 3px solid brown;
    outline-offset: 7px;
    border-radius: 40px;

    /* border: 2px black solid; */
}
.cont3 .items button{

    border-radius: 30px;
    height: 40px;
    width: 150px;
    margin: 30px;
    background-color: chocolate;
}

.footer{
    height: 400px;
    width: 100%;
    background-color: beige;

}
.footer .Form{
    margin-left: 10px;
    height: 350px;
    width: 35%;
    border-radius: 30px;
    background-color: rgb(192, 142, 93);
    text-align: center;
    bottom:20px;
       
   
}
.footer .Form form input{
    border: 2px black solid;
    border-radius: 20px;
    height: 30px;
    font-size: 15px;
    width: 300px;
    font-family: serif;

}

.footer .Form form textarea{
    border: 2px black solid;
    border-radius: 20px;
    height: 80px;
    font-size: 15px;
    width: 300px;
    font-family: serif;
}

.footer .Form form button{
    border: 2px black solid;
    font-family: serif;
    border-radius: 20px;
    height: 30px;
    font-size: 15px;
    width: 100px;
    /* margin: 50px; */
    background-color: chocolate;
}

.cont4{
    position: relative;

    height: 100px;
    width: 100%;
    background-color:rgb(79, 45, 22);
}

.cont4 h3{
    color: chocolate;
    text-align: center;
    margin-left: 30px;
}

.cont4 h1{
    color: white;
    text-align: center;
    margin-left: 30px;
}

.cont5 {
    /* margin: 600px; */
    height: 100px;
    left: 500px;
    bottom: 200px;    
    width: 60%;
    position: absolute;
    /* background-color:rgb(79, 45, 22); */
} 






