*{
    margin: 0;
    padding: 0;
}
.navbar{
    min-height: 5em;
    width: 100%;
    background-color: rgb(136, 112, 142);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .first img{
    height: 4em;
    padding-left: 2.5em;    
}

.navbar .second{
    display: flex;
    justify-content:space-between;
}

.navbar .second li{
    width: 80px;
    font-size: 1.4em;
    padding-left: 3px;
    list-style: none;
    
}

.navbar .third button{
    font-size: 1.3em;
    margin-right: 2em;
    padding: 0.5em 1.0em;
    background-color: rgb(215, 197, 216);
    border: none;
    border-radius: 0.0em;
    box-shadow: 0 0 7px 2px;
}


.home{
    width: 100%;
    min-height: 30em;
    background-color: rgb(25, 2, 41);
    position: relative;
}

.home h1{
    font-size: 60px;
    color: rgb(102, 5, 143);
    position: absolute;
    top: 20px;
    left: 200px;
    text-shadow: 8px 3px 4px beige;
    text-align: center;
}

.home p{
    position: absolute;
    font-size: 30px;
    padding: 10px;
    top: 80px;
    left: 300px;
    color: white;
}

.home p span{    
    color: rgb(29, 1, 36);
    
}
.home img{
    width: 100%;
    height:85vh ;
    filter: blur(6px);
}

.home button{
    position: absolute;
    top: 22rem;
    left: 40%;
    padding: 10px 26px;
    background-color: blue;
    color: white;
    font-weight: 900;
    font-size: 1rem;
}

.about{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .sub-about{
    height: 65vh;
    width: 80%;
    box-shadow: 0 0 20px 2px crimson;
    border-radius: 20px;
}

.about .sub-about img{
    border-radius: 20px;
    padding: 10px;
    height: 95%;
    width: 250px;
    float: left;

}
.about .sub-about p{
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    margin-top: 10px;
    width: 900px;
    position: relative;
    left: 100px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    gap: 20px; 
    height: 400px;           
    width: 97%;       
    padding: 20px;
    background-color: lavenderblush;
  }

  .id-card {
    flex: 1;             
    min-width: 150px;      
    border: 1px solid rgb(117, 9, 218);
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    background-color: rgb(221, 118, 247); 
    box-shadow: 6px 7px 7px rgb(190, 143, 235);
  }

  .id-card img {
    width: 250px;           
    height: 250px;
    border-radius: 20%;   
    object-fit: cover;     
  }

  .id-card h1 {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .id-card img:hover{
    border-radius: 30px;
    transition: 0.2s;
    transform: scale(1.1);
    
  }

.services{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
  }

  .services .sub{
    min-height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    /* background-repeat: repeat-y; */    
    position: relative;
    outline: 3px solid purple;
    outline-offset: 5px;
    
  }

  .services .sub h1{
    color:whitesmoke;
    margin-left: 60px;
    position: absolute;
    top: 100px;
    visibility: hidden;
    
  }

  .services .sub:hover h1{
    transition: 1s;
    visibility: visible;
  }

  .services .sub:nth-child(2)
  {
   
    background-size: cover;
    background-position: center;    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhQ-foIoLL_-HE0S5vra9S2PkyRdUjI7_sVA&s");
  }

  .services .sub:nth-child(3)
  {
   
    background-size: cover;
    background-position: center;    
    background-image: url("https://fooddrinklife.com/wp-content/uploads/2026/05/Small_Chocolate-Ice-Cream.png");
  }


  .services .sub:last-child
  {
   
    background-size: cover;
    background-position: center;    
    background-image: url("  https://png.pngtree.com/background/20230520/original/pngtree-3-chocolate-ice-creams-in-waffle-cones-on-black-background-picture-image_2678453.jpg");
  }
.services .sub:first-child
  {  
    background-size: cover;
    background-position: center;    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShvuxT9xt9b89BjDuqRcx21Wo3i2DEA1PdBA&s");
  }

  .footer{
    min-height: 100vh;
    width: 100%;
  }
  .footer .parent{
    width: 80%;
    left: 10%;
    position: relative;
    top: 90px;
    height: 400px;
    background-color: peru;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px 4px rgb(25, 2, 41);
    border-radius: 20px 0 20px 0px;
  }

  .footer .form-section input{
    height: 40px;
    width: 405px;
    font-size: 18px;
    padding-left: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid palegreen;
  }
  .footer .form-section button{
    margin-top: 20px;
    height: 40px;
    width: 430px;
    background-color: blue;
    color:purple;
    font-size: 20px;
    font-weight: 600;
  }











  